* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.menuContainer {
  grid-column: 1;
  margin-left: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logoContainer {
  max-width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

.menuContainer .logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menuText {
  height: 70%;
  padding: 12px 8px;
  border-radius: 25px;
  cursor: pointer;
}

.menuText:hover {
  font-style: italic;
  color: #000;
  background-color: transparent;
  border: 1px solid #e70023;
}

.selected {
  background-color: #000;
  color: #fff;
}

.browserContainer {
  grid-column: 2;
  height: auto;
}

.optionsContainer {
  grid-column: 3;
  height: auto;
}

.searchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.searchBar {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-radius: 30px;
}

.searchIconContainer {
  width: 5%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIconContainer img {
  width: 50%;
  height: 50%;
  opacity: 50%;
  object-fit: contain;
}

.searchBar input {
  width: 95%;
  height: 100%;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}

.optionsContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.optionsiconContainer {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionsiconContainer img {
  width: 40%;
  opacity: 50%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  header nav {
    grid-template-columns: 30% 50% 20%;
  }
}
@media screen and (max-width: 780px) {
  header nav {
    grid-template-columns: 20% 60% 20%;
  }

  .menuText {
    display: none;
  }

  .menuText.selected {
    display: initial;
  }
}
@media screen and (max-width: 500px) {
  header nav {
    grid-template-columns: 10% 80% 10%;
  }

  .menuText.selected {
    display: none;
  }

  .optionsiconContainer {
    display: none;
    width: 100%;
  }

  .optionsiconContainer.lastMenu {
    display: flex;
  }
}
.posts {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 20px;
  grid-auto-rows: 200px;
  justify-content: center;
}

.postContainer {
  display: inline-grid;
  width: 100%;
  position: relative;
  background-color: gray;
  border-radius: 18px;
}

.postContainer:hover .bottomOptions,
.postContainer:hover .topOptions {
  display: flex;
}

.postContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topOptions {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: none;
  justify-content: center;
}

.topOptions-board {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
  text-decoration: none;
  background-color: #efefef;
  color: #000;
}

.topOptions-save {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  text-decoration: none;
  background-color: #e70023;
  color: #fff;
}

.bottomOptions {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: none;
  justify-content: space-evenly;
}

.bottomOptions-url {
  display: flex;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #efefef;
  text-decoration: none;
}

.bottomOptions-share,
.bottomOptions-menu {
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

.bottomOptions-share img,
.bottomOptions-menu img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  opacity: 50%;
}

.postSmall {
  grid-row-end: span 1;
}

.postMedium {
  grid-row-end: span 2;
}

.postLarge {
  grid-row-end: span 3;
}