section.posts
  +postSmall(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postMedium(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postLarge(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postSmall(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postMedium(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postLarge(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postSmall(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postMedium(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postLarge(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postSmall(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postMedium(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
  +postLarge(logoIcon, 'Example', 'boarhhhhhhhhhd','www.Example.com')
