section.posts
  +postSmall(logoIcon, 'Example', 'board','www.Example.com')
  +postMedium(logoIcon, 'Example', 'board','www.Example.com')
  +postLarge(logoIcon, 'Example', 'board','www.Example.com')
  +postSmall(logoIcon, 'Example', 'board','www.Example.com')
  +postMedium(logoIcon, 'Example', 'board','www.Example.com')
  +postLarge(logoIcon, 'Example', 'board','www.Example.com')
  +postSmall(logoIcon, 'Example', 'board','www.Example.com')
  +postMedium(logoIcon, 'Example', 'board','www.Example.com')
  +postLarge(logoIcon, 'Example', 'board','www.Example.com')
  +postSmall(logoIcon, 'Example', 'board','www.Example.com')
  +postMedium(logoIcon, 'Example', 'board','www.Example.com')
  +postLarge(logoIcon, 'Example', 'board','www.Example.com')
