
<header>
  <nav>
    <div class="menuContainer">
      <figure><img src="../../assets/images/pinterest.svg" alt="logo pinterest"/><span>Inicio</span><span>Hoy</span><span>Siguiendo</span></figure>
    </div>
    <div class="browserContainer">
      <div class="browserBar">
        <figure><img src="" alt=""/></figure>
        <input/>
      </div>
    </div>
    <div class="optionsContainer"></div>
    <figure><img src="../../assets/images/bell.svg" alt="notificaciones"/></figure>
    <figure><img src="../../assets/images/chat.svg" alt="mensajes sin leer"/></figure>
    <figure><img src="../../assets/images/user.svg" alt="perfil"/></figure>
    <figure><img src="../../assets/images/bell.svg" alt="mas opciones"/></figure>
  </nav>
</header>